<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WiCare | Donors</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../img/logo-no-background.png" type="image/x-icon" style="border-radius: 50%;">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
body, html {
  height: 100%;
  margin: 0;
}

#bgimg {
  background-image: url('../img/logo-no-background.png');
  height: 100%;
  background-position: center;
  background-size:auto;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}
#topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

#bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

#middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}
</style>
<body id="bootstrap-override">
  <!-- Navigation section -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../index.html">
                <img src="../img/logo-no-background.png" class="d-inline-block align-top logo" alt="wicare logo">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./gallery.html">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./donate.html">Donate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./add_donee.html">Add Donee</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="./about.html">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="impact_areas.html" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Impact Areas
                    </a>
                    <ul class="dropdown-content" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="impact_areas.html#no-poverty">No Poverty</a></li>
                        <li><a class="dropdown-item" href="impact_areas.html#zero-hunger">Zero Hunger</a></li>
                        <li><a class="dropdown-item" href="impact_areas.html#good-health">Good Heath and
                                Well-Being</a></li>
                        <li><a class="dropdown-item" href="impact_areas.html#quality-education">Quality
                                Education</a></li>
                        <li><a class="dropdown-item" href="impact_areas.html#clean-water">Clean Water and
                                Sanitation</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="./user_profile.html"><span class="glyphicon glyphicon-log-in"></span>Profile</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="bgimg">
  <div id="topleft">
    <img src="">
  </div>
  <div id="middle">
    <h1>COMING SOON</h1>
    <hr>
    <p></p>
  </div>
  <div id="bottomleft">
    <button><a href="../index.html">BACK TO HOME</a></p></button>
  </div>
</div>
 <!-- Scripts -->
 <script src="../static/js/api.js"></script>
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
